@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

body {
  color: white;
  font-family: Montserrat, sans-serif;
  min-height: 100%;
  background: rgb(15, 52, 96);
  background: linear-gradient(
    0deg,
    rgba(15, 52, 96, 1) 0%,
    rgba(26, 26, 46, 1) 34%
  );
}

.generator-gradient {
  background: linear-gradient(90deg, #e94560, #0f3460);
  background-size: 133% 133%;

  -webkit-animation: AnimationName 4s ease-in-out infinite;
  -moz-animation: AnimationName 4s ease-in-out infinite;
  animation: AnimationName 4s ease-in-out infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}
