@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html  {
    min-height: 100%;
}
body {
    font-family:Montserrat,  sans-serif;
    min-height: 100%;
    background: rgb(15,52,96);
    background: linear-gradient(0deg, rgba(15,52,96,1) 0%, rgba(26,26,46,1) 34%); 
}
